<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Flask Platzi|
        {% endblock %}
    </title>
    {% block styles %}
      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" />
    {% endblock %}
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" data-bs-dismiss="alert"
            class="btn-close" aria-label="Close" >
                &times;
            </button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}
    {% endblock %}    
    {% block scripts %}
      {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>