{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros.html'  as macros %}
{% block title %}
{{ super() }} 
Bienvenido 
{% endblock %}
{% block content %}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}
    {% if user_ip != 'None' %}
        <h1>Yor ip is {{ user_ip }}</h1>
    {% else %}
        <a href="{{ url_for('index') }}">Index</a>
    {% endif %}
    {% for todo in todos %}
        {{ macros.render_todo(todo) }}
    {% endfor %}

    <div class="container">
        {{ render_form(login_form) }}
    </div>
    
{% endblock %}